h1 {
    color:brown;
}
p {
    color:whitesmoke;
}
body {
    background: url(blue.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
}

#navbar {
    background-color: rgb(78, 17, 147);
    height: 60px;
  }
  

#logo1 {
    margin: 200px;
    color:crimson;
}
#logo2 {
    margin: 200px;
    color:crimson;
}
#logo3 {
    margin: 200px;
    color:crimson;
 }
#logo4 {
    margin: 200px;
    color:crimson;
 }