
body {

 #navbar {
    background-color:black;
    height: 50px;
 }
 #logo1{ 
   color:antiquewhite;
   margin-left: 100px;
   margin-right: 100px;
   height: 40px;

 }
 #logo2{
   color:antiquewhite;
   margin-left: 100px;
   margin-right: 100px;
   height: 40px;
 }

#logo3{
  color:antiquewhite;
  height: 40px;
}